@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    color: #0f172a;
}

body, html {
    padding: 0;
    margin: 0;
    min-height: 100%;
    height: 100%;
}

.container {
    background-color: #e2e8f0;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-image: linear-gradient(19deg, #f5f7fa  0%, #c3cfe2 100%);
    background-repeat: no-repeat;
    overflow: auto;
}

.header {
    display: flex;
    align-items: center;
    background-color: #f1f5f9;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 1em 2em 1em 2em;
    background: rgba(255, 255, 255, 0.473);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.logo {
    padding: 0;
    margin: 0;
    color: #0f172a;
    font-weight: 600;
    font-size: 2rem;
    flex-grow: 1;
}

.github-button {
    height: 2rem;
    transition: all .1s ease-in-out;
}

.github-button:hover {
    transform: scale(1.1);
}

.books-container {
    margin: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 200px;
    gap: 2rem;
}

.book-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
    justify-items: center;
    padding: 1em;

    background: rgba(252, 252, 252, 0.43);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    border: 1px solid rgba(226, 209, 195, 0.20);
    color: #111827;
}

.book-title {
    font-size: 1.8em;
    font-weight: 600;
    padding-bottom: 6px;
    align-self: center;
    text-align: center;
}

.book-author {
    font-size: 1rem;
    text-align: center;
}

.book-pages {
    align-self: flex-end;
    text-align: center;
}

.new-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 2em;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 0.5em;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.8px);
    -webkit-backdrop-filter: blur(3.8px);
    border: none;
    transition: all .1s ease-in-out;
    z-index: 1;
}

.new-button img {
    height: 3rem;
    color: #111827;
}

.new-button:hover {
    background: rgba(255, 255, 255, 0.4);
    padding: 1.5em;
}

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 9;
}

.form-container {
    max-width: 350px;
    height: 350px;
    width: 300px;
    padding: 32px;
    display: grid;

    background: rgba(255, 255, 255, 0.952);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.form-container h1 {
    text-align: center;
    margin: 0;
    padding: 0;
}

.form-container label {
    font-weight: 600;
    height: 1em;
    margin: 0;
    padding: 0;
}

.form-container > input {
    height: 1rem;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 16px;
    padding: 12px;
    font-size: 1em;
}

.form-container > input:focus {
    outline: none!important;
    border-color: #cbd5e1;
    box-shadow: 0px 0px 25px rgba(95, 95, 95, 0.1);
}

.buttons-container {
    display: flex;
    gap: 8px;
}

.button {
    height: 2em;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 16px;
    flex: 1;
    font-size: 1rem;
    text-align: center;
    font-weight: 800;
    transition: all .3s ease-in-out;
}

.submit {
    background-color: #bbf7d0;
    color: #14532d;
}

.close {
    background-color: #fecaca;
    color: #7f1d1d;    
}

.submit:hover {
    background-color: #6ee7b7;
}

.close:hover {
    background-color: #fca5a5;
}